<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">

  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="/__/firebase/7.2.1/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
       https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="/__/firebase/7.2.1/firebase-analytics.js"></script>

  <!-- Initialize Firebase -->
  <script src="/__/firebase/init.js"></script>

<header>
    <% include partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Congratulations! Your Programmer Persona is...: </h1>
        <h3><%- persona %></h3>
        <br>
        <p><%- desc %></p>

        <br>
        <br>
        <h3><%- JSON.stringify(metrics) %></h3>
        <div id="piechart"></div>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <script type="text/javascript">
        // Load google charts
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        // Draw the chart and set the chart values
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
          ['Persona', 'Respondants'],
          ['Calculated', <%= metrics.numCalculated %>],
          ['Experimental', <%= metrics.numExperimental %>],
          ['Resourceful', <%= metrics.numResourceful %>]
        ]);

          // Optional; add a title and set the width and height of the chart
          var options = {'title':'Overall Responses', 'width':550, 'height':400};

          // Display the chart inside the <div> element with id="piechart"
          var chart = new google.visualization.PieChart(document.getElementById('piechart'));
          chart.draw(data, options);
        }
        </script>


        <br>
        <h3>Breakdown</h3>
          <div id="piechartD" style="float: left"></div>
          <div id="piechartI" style="float: left"></div>
          <div id="piechartV" style="float: left"></div>

          <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

          <script type="text/javascript">
          // Load google charts
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawCharts);

          // Draw the chart and set the chart values
          function drawCharts() {
            var dataD = google.visualization.arrayToDataTable([
            ['Persona', 'Respondants'],
            ['Calculated', <%= metrics.numCalculated_D %>],
            ['Experimental', <%= metrics.numExperimental_D %>],
            ['Resourceful', <%= metrics.numResourceful_D %>]
          ]);
          var dataV = google.visualization.arrayToDataTable([
          ['Persona', 'Respondants'],
          ['Calculated', <%= metrics.numCalculated_V %>],
          ['Experimental', <%= metrics.numExperimental_V %>],
          ['Resourceful', <%= metrics.numResourceful_V %>]
        ]);
        var dataI = google.visualization.arrayToDataTable([
        ['Persona', 'Respondants'],
        ['Calculated', <%= metrics.numCalculated_I %>],
        ['Experimental', <%= metrics.numExperimental_I %>],
        ['Resourceful', <%= metrics.numResourceful_I %>]
      ]);

            // Optional; add a title and set the width and height of the chart
            var optionsD = {'title':'Overall Responses - Debug', 'width':275, 'height':200};
            var optionsI = {'title':'Overall Responses - Implementation', 'width':275, 'height':200};
            var optionsV = {'title':'Overall Responses - Verification', 'width':275, 'height':200};

            // Display the chart inside the <div> element with id="piechart"
            var chartD = new google.visualization.PieChart(document.getElementById('piechartD'));
            chartD.draw(dataD, optionsD);
            // Display the chart inside the <div> element with id="piechart"
            var chartI = new google.visualization.PieChart(document.getElementById('piechartI'));
            chartI.draw(dataI, optionsI);
            // Display the chart inside the <div> element with id="piechart"
            var chartV = new google.visualization.PieChart(document.getElementById('piechartV'));
            chartV.draw(dataV, optionsV);
          }
          </script>
    </div>
</main>

<footer>
    <% include partials/footer %>
</footer>

</body>
</html>
